{{define "tv.html"}}
  <!DOCTYPE html>
  <html>
      <head>

        <title>Currently Playing for | {{index . "name"}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
        <link rel="stylesheet" href="static/tv.css">
        <script src="static/page.js"></script>

    </head>
    <body>
    <div id="container" class="now_playing">	
        <div class="left_side">
            <div class="artwork"></div>
            <section id="main">
                <img class="art_image" src="">
                    
            </section>
        </div>
        <div class="right_side">
            <div class="text">
                <div class="track" id="current_track">Track</div>
                <div class="artist" id="current_artist">Artist</div>
                <div class="album" id="current_album">Album</div>
                <div class="number" id="current_number_plays">Number</div>
            </div>	
        </div>    	
	</div>
    

    <div id="container" class="last_played" style="display: none;">	
        <div class="user"><?php echo $username; ?></div>
        <div class="stat_box">
            <div class="header">scrobbles</div>
            <div class="scrobbles"><?php echo $playcount; ?></div>
        </div>
        <div class="stat_box">
            <div class="header">last played</div>
            <div class="play_box">
            <div class="track"><?php echo $trackInfo['name']; ?></div>
            <div class="artist"><?php echo $trackInfo['artist']; ?></div>
            </div>
        </div>
        <div class="list">Top Albums - Last 7 Days</div>
        <div class="albums">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/">
            <img class="top_albums" src="/>">
            <img class="top_albums" src="/>">
            <img class="top_albums" src="/>">
        </div>			
    </div>

    </body>
  </html>
{{end}}